# This is an example of a .env file for a news application.
# Rename this file to .env or create a new one named .env and fill in the required values.
# to use the application, Make sure to replace YOUR_API_KEY with your actual API key.
API_URL="https://newsapi.org/v2"
NEWS_API_KEY=YOUR_API_KEY