* {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E2DFD0 !important;
}

a {
  text-decoration: none !important;
}

.navbar-comp {
  background-color: #222831;
}

.text-nav {
  color: #ffffff !important;
  font-size: 1.2rem !important;
}

.text-nav:hover {
  color: #c1c1c1 !important;
}

.news-container {
  height: 92.6vh;
}

.news-img {
  width: 100%;
  border-radius: 5rem 0 5rem 0;
  -webkit-border-radius: 5rem 0 5rem 0;
  -moz-border-radius: 5rem 0 5rem 0;
  -ms-border-radius: 5rem 0 5rem 0;
  -o-border-radius: 5rem 0 5rem 0;
  border: 3px solid #222831;
}

.font-grey {
  color: rgb(80, 80, 80) !important;
}

.font-black-blue {
  color: #222831 !important;
}