<div
  class="news-container container-fluid px-5 d-flex flex-column gap-3 justify-content-center"
>
  <div class="row justify-content-center">
    <div class="col-6 pe-3">
      <h1 class="fs-1 fw-bold">
        Temukan berita terbaru dan terbaik dari seluruh dunia!
      </h1>
      <p class="fs-5 fw-semibold" style="color: rgb(80, 80, 80)">
        Dapatkan informasi terpercaya, cepat, dan akurat langsung dari
        sumbernya.
      </p>
      <a href="{{ url_for("news") }}">
        <button class="btn btn-success fs-5 fw-semibold px-5 py-1 mt-2">Jelajahi Berita</button>
      </a>
    </div>
    <div class="col-6 ps-3">
      
    </div>
  </div>
</div>
