<div class="container-fluid">
    <div class="navbar-comp px-4 py-2 d-flex align-items-center">
        <a class="fs-2 fw-bold text-white" href="{{ url_for("home") }}">Newstify</a>
        <div class="w-100 d-flex ms-5 gap-3 fw-semibold mt-2">
            <a class="text-nav" href="{{ url_for("home") }}">Beranda</a>
            <a class="text-nav" href="{{ url_for("news") }}">Data Berita</a>
            <a class="text-nav" href="{{ url_for("about") }}">Tentang Kami</a>
        </div>
    </div>
</div>